@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.pantallaInicial {
  display: grid;
  grid-template-rows: auto 1fr;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-image: url("../img/pantallaInicio.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.pantallaInicial .titulo {
  height: 50px;
  overflow: hidden;
  padding-top: 70%;
}
.pantallaInicial .titulo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pantallaInicial .nuevaPartida {
  align-self: start;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  padding-top: 60px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}
.pantallaInicial .nombreJugador {
  align-self: start;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}
.pantallaInicial .nombreJugador .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pantallaInicial .nombreJugador .form label {
  font-family: "Space Mono", monospace;
  color: white;
}
.pantallaInicial .nombreJugador .form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0px;
  font-family: "Space Mono", monospace;
  color: white;
}
.pantallaInicial .nombreJugador .form input:focus {
  outline: none;
  border-bottom: 1px solid white;
}
.pantallaInicial .nombreJugador .form .mensajeError {
  font-family: "Space Mono", monospace;
  font-size: 0.7rem;
  padding-top: 10px;
}
.pantallaInicial .nombreJugador .continuar {
  margin-top: 30px;
  align-self: center;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: "Space Mono", monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pantallaInicial .controlAudio {
  position: absolute;
  bottom: 30px;
  right: 60px;
}
.pantallaInicial .controlAudio img {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.escenaDialogo {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/fondo2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.escenaDialogo .cajaDialogo {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 150px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  justify-content: center;
}
.escenaDialogo .cajaDialogo .text {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}
.escenaDialogo .cajaDialogo .btn-grid {
  display: flex;
  flex-direction: column;
}
.escenaDialogo .cajaDialogo .btn-grid .btn {
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}
.escenaDialogo .cajaDialogo .btn-grid .btn:hover {
  font-weight: 700;
}
.escenaDialogo .cajaDialogo .btn-grid .btn.with-arrow::before {
  content: "> ";
}
.escenaDialogo .cajaDialogo .btn-grid .btn #spanishText {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  padding-bottom: 0px;
  outline: none;
  margin-bottom: 5px;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}
.escenaDialogo .personaje {
  position: absolute;
  height: 50%;
  width: auto;
  top: 11%;
  right: 35%;
}
.escenaDialogo .personaje img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaDialogo .objetos {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}
.escenaDialogo .objetos .lampara {
  position: absolute;
  top: 30%;
  right: 60%;
  width: auto;
  height: 37%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaDialogo .objetos .lampara img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaDialogo .objetos .reloj {
  position: absolute;
  top: 11%;
  right: 26%;
  width: auto;
  height: 15%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaDialogo .objetos .reloj img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaDialogo .objetos .agenda {
  position: absolute;
  top: 57%;
  right: 38%;
  width: auto;
  height: 18%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaDialogo .objetos .agenda img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaDialogo .objetos .planta {
  position: absolute;
  top: 4%;
  right: 16%;
  width: auto;
  height: 24%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaDialogo .objetos .planta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaDialogo .objetos .cafe {
  position: absolute;
  top: 64%;
  right: 28%;
  width: auto;
  height: 8%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaDialogo .objetos .cafe img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.escenaLLaves {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../img/fondo2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.escenaLLaves .mensajeLlaves {
  z-index: 3;
  position: absolute;
  display: flex;
  width: 800px;
  height: 50px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  justify-content: center;
}
.escenaLLaves .mensajeLlaves .textoLlaves {
  font-family: "Space Mono", monospace;
}
.escenaLLaves .mensajeLlaves .textoVuelta {
  font-family: "Space Mono", monospace;
}
.escenaLLaves .personaje-llaves {
  position: absolute;
  height: 50%;
  width: auto;
  top: 11%;
  right: 35%;
}
.escenaLLaves .personaje-llaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaLLaves .lilaPerfil {
  position: absolute;
  height: 50%;
  width: auto;
  top: 11%;
  right: 35%;
}
.escenaLLaves .lilaPerfil .perfil {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
  background-color: transparent;
}
.escenaLLaves .lilaPerfil .llaves {
  width: auto;
  height: 20%;
  position: absolute;
  left: 20px;
  top: 60px;
  z-index: 2;
  transform: rotate(130deg);
}
.escenaLLaves .objetos-llaves {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.escenaLLaves .objetos-llaves .lampara-llaves {
  position: absolute;
  top: 30%;
  right: 60%;
  width: auto;
  height: 37%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaLLaves .objetos-llaves .lampara-llaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaLLaves .objetos-llaves .reloj-llaves {
  position: absolute;
  top: 11%;
  right: 26%;
  width: auto;
  height: 15%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaLLaves .objetos-llaves .reloj-llaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaLLaves .objetos-llaves .agenda-llaves {
  position: absolute;
  top: 57%;
  right: 38%;
  width: auto;
  height: 18%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaLLaves .objetos-llaves .agenda-llaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaLLaves .objetos-llaves .planta-llaves {
  position: absolute;
  top: 4%;
  right: 16%;
  width: auto;
  height: 24%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaLLaves .objetos-llaves .planta-llaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.escenaLLaves .objetos-llaves .cafe-llaves {
  position: absolute;
  top: 64%;
  right: 28%;
  width: auto;
  height: 8%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.escenaLLaves .objetos-llaves .cafe-llaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.finalScreen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../img/fondoFinal.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.finalScreen #finalText {
  position: fixed;
  left: 25%;
  color: white;
  font-family: "Space Mono", monospace;
  width: 50%;
  height: auto;
  text-align: center;
}
.finalScreen #reiniciarBtn {
  color: white;
  font-family: "Space Mono", monospace;
  width: auto;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding-top: 150px;
}
.finalScreen #reiniciarBtn:hover {
  font-weight: bold;
}

.escenaFinal1 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../img/fondoFinal.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.escenaFinal1 .textoFinal1 {
  position: fixed;
  left: 25%;
  color: white;
  font-family: "Space Mono", monospace;
  width: 50%;
  height: auto;
  text-align: center;
}
.escenaFinal1 .textoOculto {
  position: fixed;
  left: 25%;
  color: white;
  font-family: "Space Mono", monospace;
  width: 50%;
  height: auto;
  text-align: center;
}
.escenaFinal1 #siguienteBtn {
  color: white;
  font-family: "Space Mono", monospace;
  width: auto;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding-top: 150px;
}
.escenaFinal1 #siguienteBtn:hover {
  font-weight: bold;
}
.escenaFinal1 #siguienteBtn2 {
  color: white;
  font-family: "Space Mono", monospace;
  width: auto;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding-top: 150px;
}
.escenaFinal1 #siguienteBtn2:hover {
  font-weight: bold;
}
.escenaFinal1 #reiniciarJuego {
  color: white;
  font-family: "Space Mono", monospace;
  width: auto;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding-top: 150px;
}
.escenaFinal1 #reiniciarJuego:hover {
  font-weight: bold;
}

.html {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0px;
}/*# sourceMappingURL=style.css.map */